[Unit]
Description=Gunicorn
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/gafar
Environment="PATH=/home/ubuntu/gafar/medina/bin"
ExecStart=/home/ubuntu/gafar/medina/bin/gunicorn --bind 0.0.0.0:5000 wsgi:app

[Install]
WantedBy=multi-user.target
